.hompage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.hompage-title {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.hompage-description {
  font-size: 18px;
  color: #666;
  text-align: center;
  max-width: 600px;
  margin-bottom: 40px;
}

.games-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 12px;
}

.games-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}   

.games-img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}   

.games-p{
    font-size: 16px;
    color: #333;
    text-align: center;
    margin-top: 10px;
}